<%- include("partials/header.ejs") %>

<div class="film_list-wrap">
  <div class="flw-item">
    <div class="film-poster">
      <div class="tick ltr">
        <div class="tick-item tick-sub"><i class="fas fa-closed-captioning mr-1"></i>2</div>
        <div class="tick-item tick-dub"><i class="fas fa-microphone mr-1"></i>1</div>
      </div>
      <img data-src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/0631f68d640b3f2d744613666a1bb8c1.jpg" class="film-poster-img lazyloaded" alt="The Darwin Incident" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/0631f68d640b3f2d744613666a1bb8c1.jpg">
      <a href="/watch/the-darwin-incident-20321?w=latest" class="film-poster-ahref item-qtip" data-id="20321" data-hasqtip="30" oldtitle="The Darwin Incident" title="" aria-describedby="qtip-30"><i class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
      <h3 class="film-name"><a href="/the-darwin-incident-20321" title="The Darwin Incident" class="dynamic-name" data-jname="Darwin Jihen">The Darwin Incident</a></h3>
      <div class="fd-infor">
        <span class="fdi-item">TV</span>
        <span class="dot"></span>
        <span class="fdi-item fdi-duration">24m</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="flw-item">
    <div class="film-poster">
      <div class="tick ltr">
        <div class="tick-item tick-sub"><i class="fas fa-closed-captioning mr-1"></i>2</div>
        <div class="tick-item tick-eps">12</div>
      </div>
      <img data-src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/f05a21fb03d2b7b92a264fee0e1a2e1a.jpg" class="film-poster-img lazyloaded" alt="Isekai Office Worker: The Other World's Books Depend on the Bean Counter" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/f05a21fb03d2b7b92a264fee0e1a2e1a.jpg">
      <a href="/watch/isekai-office-worker-the-other-worlds-books-depend-on-the-bean-counter-20297?w=latest" class="film-poster-ahref item-qtip" data-id="20297" data-hasqtip="31" oldtitle="Isekai Office Worker: The Other World's Books Depend on the Bean Counter" title="" aria-describedby="qtip-31"><i class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
      <h3 class="film-name"><a href="/isekai-office-worker-the-other-worlds-books-depend-on-the-bean-counter-20297" title="Isekai Office Worker: The Other World's Books Depend on the Bean Counter" class="dynamic-name" data-jname="Isekai no Sata wa Shachiku Shidai">Isekai Office Worker: The Other World's Books Depend on the Bean Counter</a></h3>
      <div class="fd-infor">
        <span class="fdi-item">TV</span>
        <span class="dot"></span>
        <span class="fdi-item fdi-duration">25m</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="flw-item">
    <div class="film-poster">
      <div class="tick ltr">
        <div class="tick-item tick-sub"><i class="fas fa-closed-captioning mr-1"></i>2</div>
      </div>
      <img data-src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/cac39dab61221a2ed90e377a6294bf2d.jpg" class="film-poster-img lazyloaded" alt="There was a Cute Girl in the Hero's Party, so I Tried Confessing to Her" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/cac39dab61221a2ed90e377a6294bf2d.jpg">
      <a href="/watch/there-was-a-cute-girl-in-the-heros-party-so-i-tried-confessing-to-her-20341?w=latest" class="film-poster-ahref item-qtip" data-id="20341" data-hasqtip="32" oldtitle="There was a Cute Girl in the Hero's Party, so I Tried Confessing to Her" title="" aria-describedby="qtip-32"><i class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
      <h3 class="film-name"><a href="/there-was-a-cute-girl-in-the-heros-party-so-i-tried-confessing-to-her-20341" title="There was a Cute Girl in the Hero's Party, so I Tried Confessing to Her" class="dynamic-name" data-jname="Yuusha Party ni Kawaii Ko ga Ita node, Kokuhaku shitemita.">There was a Cute Girl in the Hero's Party, so I Tried Confessing to Her</a></h3>
      <div class="fd-infor">
        <span class="fdi-item">TV</span>
        <span class="dot"></span>
        <span class="fdi-item fdi-duration">23m</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="flw-item">
    <div class="film-poster">
      <div class="tick ltr">
        <div class="tick-item tick-sub"><i class="fas fa-closed-captioning mr-1"></i>2</div>
      </div>
      <img data-src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/6ee47b00ebf3c43352943474ac969c37.jpg" class="film-poster-img lazyloaded" alt="Tune In to the Midnight Heart" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/6ee47b00ebf3c43352943474ac969c37.jpg">
      <a href="/watch/tune-in-to-the-midnight-heart-20361?w=latest" class="film-poster-ahref item-qtip loaded" data-id="20361" data-hasqtip="33" oldtitle="Tune In to the Midnight Heart" title="" aria-describedby="qtip-33"><i class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
      <h3 class="film-name"><a href="/tune-in-to-the-midnight-heart-20361" title="Tune In to the Midnight Heart" class="dynamic-name" data-jname="Mayonaka Heart Tune">Tune In to the Midnight Heart</a></h3>
      <div class="fd-infor">
        <span class="fdi-item">TV</span>
        <span class="dot"></span>
        <span class="fdi-item fdi-duration">23m</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="flw-item">
    <div class="film-poster">
      <div class="tick ltr">
        <div class="tick-item tick-sub"><i class="fas fa-closed-captioning mr-1"></i>3</div>
      </div>
      <img data-src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/950f2dfb3b0bf4b900666fa1beb0e1b0.jpg" class="film-poster-img lazyloaded" alt="The Demon King's Daughter Is Too Kind!!" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/950f2dfb3b0bf4b900666fa1beb0e1b0.jpg">
      <a href="/watch/the-demon-kings-daughter-is-too-kind-20221?w=latest" class="film-poster-ahref item-qtip" data-id="20221" data-hasqtip="34" oldtitle="The Demon King's Daughter Is Too Kind!!" title="" aria-describedby="qtip-34"><i class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
      <h3 class="film-name"><a href="/the-demon-kings-daughter-is-too-kind-20221" title="The Demon King's Daughter Is Too Kind!!" class="dynamic-name" data-jname="Maou no Musume wa Yasashisugiru!!">The Demon King's Daughter Is Too Kind!!</a></h3>
      <div class="fd-infor">
        <span class="fdi-item">TV</span>
        <span class="dot"></span>
        <span class="fdi-item fdi-duration">23m</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="flw-item">
    <div class="film-poster">
      <div class="tick ltr">
        <div class="tick-item tick-sub"><i class="fas fa-closed-captioning mr-1"></i>9</div>
        <div class="tick-item tick-eps">12</div>
      </div>
      <img data-src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/e80df6b75fc03807d49253130068a756.jpg" class="film-poster-img lazyloaded" alt="The Alchemist's Rise" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/e80df6b75fc03807d49253130068a756.jpg">
      <a href="/watch/the-alchemists-rise-20045?w=latest" class="film-poster-ahref item-qtip" data-id="20045" data-hasqtip="35" oldtitle="The Alchemist's Rise" title="" aria-describedby="qtip-35"><i class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
      <h3 class="film-name"><a href="/the-alchemists-rise-20045" title="The Alchemist's Rise" class="dynamic-name" data-jname="Aoshi Dan Shen">The Alchemist's Rise</a></h3>
      <div class="fd-infor">
        <span class="fdi-item">ONA</span>
        <span class="dot"></span>
        <span class="fdi-item fdi-duration">20m</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="flw-item">
    <div class="film-poster">
      <div class="tick ltr">
        <div class="tick-item tick-sub"><i class="fas fa-closed-captioning mr-1"></i>6</div>
      </div>
      <img data-src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/e2d6b7b769c5bf623e1976a63b0df500.jpg" class="film-poster-img lazyloaded" alt="Immortality 5th Season" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/e2d6b7b769c5bf623e1976a63b0df500.jpg">
      <a href="/watch/immortality-5th-season-20465?w=latest" class="film-poster-ahref item-qtip" data-id="20465" data-hasqtip="36" oldtitle="Immortality 5th Season" title="" aria-describedby="qtip-36"><i class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
      <h3 class="film-name"><a href="/immortality-5th-season-20465" title="Immortality 5th Season" class="dynamic-name" data-jname="Yong Sheng: Tai Yuan Xian Fu">Immortality 5th Season</a></h3>
      <div class="fd-infor">
        <span class="fdi-item">ONA</span>
        <span class="dot"></span>
        <span class="fdi-item fdi-duration">20m</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="flw-item">
    <div class="film-poster">
      <div class="tick ltr">
        <div class="tick-item tick-sub"><i class="fas fa-closed-captioning mr-1"></i>119</div>
        <div class="tick-item tick-eps">224</div>
      </div>
      <img data-src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/66e2079379b3b4d908fce4db5f53ed61.jpg" class="film-poster-img lazyloaded" alt="Ten Thousand Worlds Season 3" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/66e2079379b3b4d908fce4db5f53ed61.jpg">
      <a href="/watch/ten-thousand-worlds-season-3-20025?w=latest" class="film-poster-ahref item-qtip" data-id="20025" data-hasqtip="37" oldtitle="Ten Thousand Worlds Season 3" title="" aria-describedby="qtip-37"><i class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
      <h3 class="film-name"><a href="/ten-thousand-worlds-season-3-20025" title="Ten Thousand Worlds Season 3" class="dynamic-name" data-jname="Wan Jie Du Zun 3rd Season">Ten Thousand Worlds Season 3</a></h3>
      <div class="fd-infor">
        <span class="fdi-item">ONA</span>
        <span class="dot"></span>
        <span class="fdi-item fdi-duration">9m</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="flw-item">
    <div class="film-poster">
      <div class="tick ltr">
        <div class="tick-item tick-sub"><i class="fas fa-closed-captioning mr-1"></i>1</div>
      </div>
      <img data-src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/7d04d5fdecb5d05f9934b608d3300e41.jpg" class="film-poster-img lazyloaded" alt="'Tis Time for &quot;Torture,&quot; Princess Season 2" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/7d04d5fdecb5d05f9934b608d3300e41.jpg">
      <a href="/watch/tis-time-for-torture-princess-season-2-20337?w=latest" class="film-poster-ahref item-qtip" data-id="20337" data-hasqtip="38" oldtitle="'Tis Time for &quot;Torture,&quot; Princess Season 2" title="" aria-describedby="qtip-38"><i class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
      <h3 class="film-name"><a href="/tis-time-for-torture-princess-season-2-20337" title="'Tis Time for &quot;Torture,&quot; Princess Season 2" class="dynamic-name" data-jname="Himesama &quot;Goumon&quot; no Jikan desu 2nd Season">'Tis Time for "Torture," Princess Season 2</a></h3>
      <div class="fd-infor">
        <span class="fdi-item">TV</span>
        <span class="dot"></span>
        <span class="fdi-item fdi-duration">23m</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="flw-item">
    <div class="film-poster">
      <div class="tick ltr">
        <div class="tick-item tick-sub"><i class="fas fa-closed-captioning mr-1"></i>2</div>
        <div class="tick-item tick-eps">12</div>
      </div>
      <img data-src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/205fb9fcf714af644cf1510fb26c9f34.jpg" class="film-poster-img lazyloaded" alt="You Can't Be In a Rom-Com with Your Childhood Friends!" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/205fb9fcf714af644cf1510fb26c9f34.jpg">
      <a href="/watch/you-cant-be-in-a-rom-com-with-your-childhood-friends-20257?w=latest" class="film-poster-ahref item-qtip" data-id="20257" data-hasqtip="39" oldtitle="You Can't Be In a Rom-Com with Your Childhood Friends!" title="" aria-describedby="qtip-39"><i class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
      <h3 class="film-name"><a href="/you-cant-be-in-a-rom-com-with-your-childhood-friends-20257" title="You Can't Be In a Rom-Com with Your Childhood Friends!" class="dynamic-name" data-jname="Osananajimi to wa Love Comedy ni Naranai">You Can't Be In a Rom-Com with Your Childhood Friends!</a></h3>
      <div class="fd-infor">
        <span class="fdi-item">TV</span>
        <span class="dot"></span>
        <span class="fdi-item fdi-duration">23m</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="flw-item">
    <div class="film-poster">
      <div class="tick tick-rate">18+</div>
      <div class="tick ltr">
        <div class="tick-item tick-sub"><i class="fas fa-closed-captioning mr-1"></i>2</div>
        <div class="tick-item tick-eps">13</div>
      </div>
      <img data-src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/f5ccdf8513717ea0b6b3a4abd716c079.jpg" class="film-poster-img lazyloaded" alt="Golden Kamuy Final Season" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/f5ccdf8513717ea0b6b3a4abd716c079.jpg">
      <a href="/watch/golden-kamuy-final-season-20373?w=latest" class="film-poster-ahref item-qtip" data-id="20373" data-hasqtip="40" oldtitle="Golden Kamuy Final Season" title="" aria-describedby="qtip-40"><i class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
      <h3 class="film-name"><a href="/golden-kamuy-final-season-20373" title="Golden Kamuy Final Season" class="dynamic-name" data-jname="Golden Kamuy: Saishuushou">Golden Kamuy Final Season</a></h3>
      <div class="fd-infor">
        <span class="fdi-item">TV</span>
        <span class="dot"></span>
        <span class="fdi-item fdi-duration">23m</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="flw-item">
    <div class="film-poster">
      <div class="tick ltr">
        <div class="tick-item tick-sub"><i class="fas fa-closed-captioning mr-1"></i>2</div>
        <div class="tick-item tick-dub"><i class="fas fa-microphone mr-1"></i>2</div>
      </div>
      <img data-src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/c0054bcd038276409991c3400784a05c.jpg" class="film-poster-img lazyloaded" alt="My Hero Academia: Vigilantes Season 2" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/c0054bcd038276409991c3400784a05c.jpg">
      <a href="/watch/my-hero-academia-vigilantes-season-2-20381?w=latest" class="film-poster-ahref item-qtip" data-id="20381" data-hasqtip="41" oldtitle="My Hero Academia: Vigilantes Season 2" title="" aria-describedby="qtip-41"><i class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
      <h3 class="film-name"><a href="/my-hero-academia-vigilantes-season-2-20381" title="My Hero Academia: Vigilantes Season 2" class="dynamic-name" data-jname="Vigilante: Boku no Hero Academia Illegals 2nd Season">My Hero Academia: Vigilantes Season 2</a></h3>
      <div class="fd-infor">
        <span class="fdi-item">TV</span>
        <span class="dot"></span>
        <span class="fdi-item fdi-duration">24m</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<%- include("partials/footer.ejs") %>